# Configuración de Base de Datos MongoDB (incluyendo GridFS)
MONGO_URI=mongodb://localhost:27017/tickets_db

# Orígenes CORS permitidos para el Frontend
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost:5173", "http://localhost:8000"]
